.main {
    -fx-background-color: #ffffff;
    -fx-padding: 20px;
}

.title-label {
    -fx-font-size: 16pt;
    -fx-text-alignment: center;
    -fx-text-fill: #6b7280;
}

.flota-title-label {
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-padding: 0 0 6px 0;
}

.flota-card {
    -fx-border-color: lightgray;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: white;
}

.flota-card-content {
    -fx-padding: 12px;
}

.flota-card-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.flota-card-subtitle {
    -fx-font-size: 14px;
    -fx-text-fill: gray;
}

.flota-card-image {
    -fx-background-color: #f3f4f6;
    -fx-background-radius: 5;
    -fx-alignment: center;
}

.flota-card-button {
    -fx-background-color: #F2741FFF;
    -fx-text-fill: white;
}